<ion-view title="Bike Location" hide-back-button="true" id="page12">
  <ion-content padding="true" class="has-header">
    <h2 id="bikeLocation-heading10" style="color:#414042;text-align:center;">Bike Location</h2>
    <ion-list id="bikeLocation-list20">
      <ion-item class="item-divider checkin checkin-teamraiser" id="bikeLocation-list-item-divider8"> Your bike is parked at a rack</ion-item>
    </ion-list>
    <ion-list id="bikeLocation-list21">
      <ion-item id="bikeLocation-list-item85">Bike Rack number</ion-item>
    </ion-list>
    <div class="spacer" style="height: 28px;"></div>
    <ion-list id="bikeLocation-list19">
      <ion-item class="item-divider checkin checkin-teamraiser" id="bikeLocation-list-item-divider9"> Your was bike last scanned</ion-item>
      <ion-item id="bikeLocation-list-item86">6/5/2017 at 2:00 PM</ion-item>
    </ion-list>
  </ion-content>
</ion-view>