<ion-view title="Check-In" hide-back-button="true" cache-view="false" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="checkIn-container1">
      <h2 id="checkIn-heading2" style="color:#414042;text-align:center;">Check-in Information</h2>
    </div>
    <div class="list card" id="checkIn-card22">
      <ion-item class="item-thumbnail-left item-icon-right" id="checkIn-list-item38">
        <h2>{{$root.luminate.cons_info.name.first + " " + $root.luminate.cons_info.name.last}}</h2>
        <p style="white-space:normal;">{{$root.luminate.tr_info.raceNumber}}</p>
        <i class="icon ion-android-bicycle"></i>
      </ion-item>
      <ion-item class="item-icon-left checkin checkin-fundraising" id="checkIn-list-item48">
        <i class="icon ion-cash"></i>Fundraising Information</ion-item>
      <ion-item class="dark" id="checkIn-list-item46">Amount Raised: {{$root.luminate.tr_part_progress.raised/100 | currency}}</ion-item>
      <ion-item class="dark" id="checkIn-list-item47">Goal: {{$root.luminate.tr_part_progress.goal/100 | currency}}</ion-item>

      <ion-item >
        
      </ion-item>
      <div id="alc-error" ng-if="$root.luminate.tr_info.typeName === 'Staff' && $root.luminate.tr_part_progress.raised < 3000">You have not met the fundraising minimum to ride. Please Visit the Donor Services booth on Orientation Day.</div>
      <ion-item class="item-icon-left assertive checkin checkin-medical" id="checkIn-list-item54">
        <i class="icon ion-ios-medical"></i>Medical Information</ion-item>
      <ion-item id="checkIn-list-item55">Medical form complete</ion-item>
      <ion-item class="item-icon-left positive checkin checkin-teamraiser" id="checkIn-list-item56">
        <i class="icon ion-ios-home"></i>Tent Information</ion-item>
      <ion-item id="checkIn-list-item57">Tent Address: A100</ion-item>
      <ion-item id="checkIn-list-item58">Tent Mate: Nick Moore</ion-item>
      <ion-item id="checkIn-list-item59">Group Keyword: Testing 2018</ion-item>
      <ion-item class="item-icon-left positive checkin checkin-teamraiser" id="checkIn-list-item39">
        <i class="icon ion-ios-information"></i>Registration Information</ion-item>
      <ion-item class="dark" id="checkIn-list-item49">Type: Cyclist</ion-item>
      <ion-item class="dark" id="checkIn-list-item94">Number: 1234</ion-item>
      <ion-item class="dark" id="checkIn-list-item50">Meal Preference: {{$root.luminate.mealPreference}}</ion-item>
      <ion-item class="dark" id="checkIn-list-item53"><span>Home Address:</span>
        <br /> {{$root.luminate.cons_info.primary_address.street1}}
        <br />
        <span ng-if="$root.luminate.cons_info.primary_address.street2">{{$root.luminate.cons_info.primary_address.street2}}<br /></span>        {{$root.luminate.cons_info.primary_address.city}}, {{$root.luminate.cons_info.primary_address.state}}
        <br /> {{$root.luminate.cons_info.primary_address.zip}}</ion-item>
    </div>
  </ion-content>
</ion-view>
