<ion-view title="Incentives" hide-back-button="true" id="page9">
  <ion-content padding="true" class="has-header">
    <h2 id="incentives-heading6" style="color:#414042;text-align:center;">Incentives</h2>
    <div class="spacer" style="height: 16px;"></div>
    <ion-list id="incentives-list8">
      <ion-item class="item-thumbnail-left dark" id="incentives-list-item65">
        <h2dark>Item</h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="incentives-list-item83">
        <h2dark>Item</h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="incentives-list-item84">
        <h2dark>Item</h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>