<ion-view title="Incentives" hide-back-button="true" id="page9">
  <ion-content padding="true" class="has-header alc-bg alc-incentives">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="incentiveRefresh()"></ion-refresher>
    <div class="list card">
      <ion-item class="item-icon-left checkin checkin-fundraising" id="checkIn-list-item48">
        <i class="icon ion-cash"></i>Fundraising Information</ion-item>
      <ion-item class="dark" id="checkIn-list-item46">
        <span class="alc-title">Amount Raised:</span> {{$root.luminate.tr_part_progress.raised/100 | currency}}</ion-item>
    </div>
    <div class="spacer" style="height: 0px;"></div>
    <div class="card" ng-if="incentiveDisplay.c5k || incentiveDisplay.c2k">

      <div ng-if="$root.luminate.tr_info.typeName === 'Roadie'">

        <!-- Roadie Shirt: Check for not started or no value -->
        <div ng-if="incentivesInfo.roadieshirt != 'Completed' && ($root.luminate.tr_part_progress.raised/100) >= 100" class="item item-text-wrap item-icon-left">
          <i class="icon ion-bag"></i> Roadies Rock Shirt
        </div>

        <!-- Roadie Hat: Check for not started or no value -->
        <div ng-if="incentivesInfo.roadiehat != 'Completed' && ($root.luminate.tr_part_progress.raised/100) >= 500" class="item item-text-wrap item-icon-left">
          <i class="icon ion-bag"></i> Roadies Rock Hat
        </div>

        <!-- Hoodie: Check for not started or no value -->
        <div ng-if="incentivesInfo.hoodie != 'Completed' && ($root.luminate.tr_part_progress.raised/100) >= 1500" class="item item-text-wrap item-icon-left">
          <i class="icon ion-bag"></i> AIDS/LifeCycle Hoodie
        </div>

        <!-- Roadie Bag: Check for not started or no value -->
        <div ng-if="incentivesInfo.roadiebag != 'Completed' && ($root.luminate.tr_part_progress.raised/100) >= 3000" class="item item-text-wrap item-icon-left">
          <i class="icon ion-bag"></i> Roadies Rock Duffel Bag
        </div>
      </div>

      <!-- DEMO -->
      <div class="item item-text-wrap item-icon-left" ng-if="incentiveDisplay.c5k">
        <i class="icon ion-bag"></i> {{incentiveDisplay.c5k}}
      </div>

      <!-- Windvest: Report MUST include ONLY 'Not Started' tasks -->
      <div ng-if="incentivesInfo.windvest == 'Not Started'" class="item item-text-wrap item-icon-left">
        <i class="icon ion-bag"></i> AIDS/LifeCycle Windvest
      </div>

      <!-- Top 50: Report MUST include ONLY 'Not Started' tasks -->
      <div ng-if="incentivesInfo.topfifty == 'Not Started'" class="item item-text-wrap item-icon-left">
        <i class="icon ion-bag"></i> Top 50 gift
      </div>

      <!-- Top 545: Report MUST include ONLY 'Not Started' tasks -->
      <div ng-if="incentivesInfo.topfivefourfive == 'Not Started'" class="item item-text-wrap item-icon-left">
        <i class="icon ion-bag"></i> Top 545 gift
      </div>

      <!-- 5K : Check for not started or no value -->
      <div ng-if="incentivesInfo.fivek != 'Completed' && ($root.luminate.tr_part_progress.raised/100) >= 5000" class="item item-text-wrap item-icon-left">
        <i class="icon ion-bag"></i> $5,000 Incentive
      </div>

      <!-- 10K : Check for not started or no value -->
      <div ng-if="incentivesInfo.tenk != 'Completed' && ($root.luminate.tr_part_progress.raised/100) >= 10000" class="item item-text-wrap item-icon-left">
        <i class="icon ion-bag"></i> $10,000 Incentive
      </div>

      <!-- 20K : Check for not started or no value -->
      <div ng-if="incentivesInfo.tenk != 'Completed' && ($root.luminate.tr_part_progress.raised/100) >= 20000" class="item item-text-wrap item-icon-left">
        <i class="icon ion-bag"></i> $10,000 Incentive
      </div>

    </div>
  </ion-content>
</ion-view>
