<ion-view title="Orientation Meeting" hide-back-button="true" id="page8">
  <ion-content padding="true" class="has-header alc-bg">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="$root.refresher()"></ion-refresher>
    <div id="orientationDay-container2">
      <!--<h2 id="orientationDay-heading4" style="color:#414042;text-align:center;">Orientation Meeting</h2>-->
      <div class="spacer" style="height: 16px;"></div>
      <ion-list id="orientationDay-list14">
        <ion-item class="item-divider checkin checkin-teamraiser" style="border-radius:4px 4px 0 0" id="orientationDay-list-item-divider5">
        Name</ion-item>
      </ion-list>
      <div id="orientationDay-button-bar2" class="button-bar"></div>
    </div>
    <ion-list id="orientationDay-list13">
      <ion-item id="orientationDay-list-item80" style="border-radius:0 0 4px 4px">
        <h2 class="pom">{{$root.luminate.cons_info.name.first + " " + $root.luminate.cons_info.name.last}}</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="orientationDay-list15">
      <ion-item class="item-divider checkin checkin-teamraiser" style="border-radius:4px 4px 0 0" id="orientationDay-list-item-divider6">
      Participant Number</ion-item>
    </ion-list>
    <ion-list id="orientationDay-list17">
      <ion-item id="orientationDay-list-item81" style="border-radius:0 0 4px 4px">
        <h2 class="pom">{{$root.luminate.tr_info.raceNumber}}</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="orientationDay-list18">
      <ion-item class="item-divider checkin checkin-teamraiser" style="border-radius:4px 4px 0 0" id="orientationDay-list-item-divider7">
      Orientation Meeting</ion-item>
      <ion-item id="orientationDay-list-item82" style="border-radius:0 0 4px 4px">
        <h2 class="pom">{{$root.luminate.groups.pom}}</h2>
        <div class="alc-barcode-svg">
          <span><svg id="alc-num-barcode"></svg></span>
        </div>
        </svg>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
