<ion-view title="Orientation Day" hide-back-button="true" id="page8">
  <ion-content padding="true" class="has-header">
    <div id="orientationDay-container2">
      <h2 id="orientationDay-heading4" style="color:#414042;text-align:center;">Orientation Meeting</h2>
      <div class="spacer" style="height: 16px;"></div>
      <ion-list id="orientationDay-list14">
        <ion-item class="item-divider checkin checkin-teamraiser" id="orientationDay-list-item-divider5"> Name</ion-item>
      </ion-list>
      <div id="orientationDay-button-bar2" class="button-bar"></div>
    </div>
    <ion-list id="orientationDay-list13">
      <ion-item id="orientationDay-list-item80">First Name / Last Name</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <ion-list id="orientationDay-list15">
      <ion-item class="item-divider checkin checkin-teamraiser" id="orientationDay-list-item-divider6"> Participant Number</ion-item>
    </ion-list>
    <ion-list id="orientationDay-list17">
      <ion-item id="orientationDay-list-item81">First Name / Last Name</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <ion-list id="orientationDay-list18">
      <ion-item class="item-divider checkin checkin-teamraiser" id="orientationDay-list-item-divider7"> Participant Number</ion-item>
      <ion-item id="orientationDay-list-item82">First Name / Last Name</ion-item>
    </ion-list>
  </ion-content>
</ion-view>