<ion-view title="Roadies" hide-back-button="true" id="page11">
  <ion-content padding="true" class="has-header">
    <h2 id="roadies-heading7" style="color:#414042;text-align:center;">Roadie Information</h2>
    <div class="spacer" style="height: 16px;"></div>
    <ion-list id="roadies-list27">
      <ion-item class="item-divider checkin checkin-teamraiser" id="roadies-list-item-divider13"> Team Assignment</ion-item>
    </ion-list>
    <ion-list id="roadies-list28">
      <ion-item id="roadies-list-item77">Item 1</ion-item>
    </ion-list>
    <div class="spacer" style="height: 28px;"></div>
    <ion-list id="roadies-list12">
      <ion-item class="item-divider checkin checkin-teamraiser" id="roadies-list-item-divider14"> Team Captain</ion-item>
      <ion-item id="roadies-list-item78">Item 2</ion-item>
    </ion-list>
  </ion-content>
</ion-view>