<ion-view title="Roadies" hide-back-button="true" id="page11">
  <ion-content padding="true" class="has-header alc-checkin alc-bg">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="$root.refresher()"></ion-refresher>
    <div class="spacer" style="height: 16px;"></div>
    <ion-list id="roadies-list27">
      <ion-item class="item-divider checkin checkin-teamraiser" id="roadies-list-item-divider13" style="border-radius:4px 4px 0 0"> Team Assignment</ion-item>
    </ion-list>
    <ion-list id="roadies-list28">
      <ion-item class="dark" id="roadies-list-item77" style="border-radius:0 0 4px 4px"><h2 class="pom">{{$root.luminate.roadieTeamAssignment}}</h2></ion-item>
    </ion-list>
    <div class="spacer" style="height: 28px;"></div>
    <ion-list id="roadies-list12">
      <ion-item class="item-divider checkin checkin-teamraiser" id="roadies-list-item-divider14" style="border-radius:4px 4px 0 0"> Team Captain</ion-item>
      <ion-item style="border-radius:0 0 4px 4px" class="dark" id="roadies-list-item78">
        <h2 class="pom">{{$root.luminate.roadieTeamCaptain}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
